<div class="wrapper">
    <div class="logo">
        <h3>dh.</h3>
        <div class="logo-right">
        <h3>full-stack developer</h3>
        <h3>designer</h3>
        </div>
    </div>
    <div class="header-wrap">
        <div class="typewriter">
            <h1>hi, my name is deanna huynh.</h1>
            <!-- <h2>&nbsp;&nbsp;&nbsp; &#8212; welcome to my portfolio</h2> -->
        </div>
    </div>
    <div class="navigation">
        <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">...</label>
        <label for="navi-toggle" class="navigation__active">...</label>
        <div class="navigation__background">&nbsp;</div>
        <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a [routerLink] = "['about']" class="navigation__link">about</a></li>
            <li class="navigation__item"><a [routerLink] = "['projects']" class="navigation__link">portfolio</a></li>
            <li class="navigation__item"><a [routerLink] = "['contact']" class="navigation__link">contact</a></li>
        </ul>
        </nav>
    </div>
</div>
