<div class="wrapper">
        <div class="logo">
            <h3>dh.</h3>
            <h3>portfolio</h3>
        </div>


        <div class="main">
            <div class="main__wrap">
                <div class="container" id="c0">
                    <div class="image" id="i0">
                        <div class="city"></div>
                    </div>
                    <div class="story" id="s0">
                        <div class="info">
                            <h3 class="container__heading">Boxy Mama</h3>
                            <p class="container__content"> Built during a time when Egypt was one of the richest and most powerful civilizations in the world. Their massive scale reflects the unique role that the pharaoh played in ancient Egyptian society.</p>
                        </div>
                    </div>
                </div>
                <div class="container" id="c1">
                    <div class="image" id="i1">
                        <div class="city"></div>
                    </div>
                    <div class="story" id="s1">
                        <div class="info">
                            <h3 class="container__heading">Modernize</h3>
                            <p class="container__content"> Stonehenge is a prehistoric monument in Wiltshire, England. It was constructed in several stages between 3000 and 1500 B.C., spanninng to the Bronze Age.</p>
                        </div>
                    </div>
                </div>
                <div class="container" id="c2">
                    <div class="image" id="i2">
                        <div class="city"></div>
                    </div>
                    <div class="story" id="s2">
                        <div class="info">
                            <h3 class="container__heading">ALR</h3>
                            <p class="container__content"> The Leaning Tower of Pisa or simply the Tower of Pisa is the campanile, or freestanding bell tower, of the cathedral of the Italian city of Pisa, known worldwide for its unintended tilt</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">...</label>
            <label for="navi-toggle" class="navigation__active">...</label>
            <div class="navigation__background">&nbsp;</div>
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    <li class="navigation__item"><a [routerLink] = "['/about']" class="navigation__link">about</a></li>
                    <li class="navigation__item"><a [routerLink] = "['/projects']" class="navigation__link">portfolio</a></li>
                    <li class="navigation__item"><a [routerLink] = "['/contact']" class="navigation__link">contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    