<div class="wrapper">
        <div class="logo">
            <h3>dh.</h3>
            <h3>about me</h3>
        </div>


        <div class="main">
            
        </div>

        <div class="main">
            <div class="main__border">
                <div class="main__text">
                    <div class="main__header">
                        <h3 class="main__title">Deanna Huynh</h3>
                        <p class="main__content">Full-Stack Developer & Designer</p>
                        <p class="main__content">Los Angeles, CA</p>
                    </div>
                    <div class="main__categories">
                        <div class="main__category">
                            <div class="category__title">01. front end</div>
                            <ul class="list__wrapper">
                                <li class="list__item">HTML/HTML5</li>
                                <li class="list__item">CSS3</li>
                                <li class="list__item">SASS</li>
                                <li class="list__item">SCSS</li>
                                <li class="list__item">Angular</li>
                            </ul>
                        </div>
                        <div class="main__category">
                            <div class="category__title">02. back end</div>
                            <ul class="list__wrapper">
                                <li class="list__item">Python</li>
                                <li class="list__item">JavaScript</li>
                                <li class="list__item">Java</li>
                                <li class="list__item"></li>
                                <li class="list__item"></li>
                            </ul>
                        </div>
                        <div class="main__category">
                            <div class="category__title">03. dev tools</div>
                            <ul class="list__wrapper">
                                <li class="list__item">VS Code</li>
                                <li class="list__item">SpringToolSuite</li>
                                <li class="list__item"></li>
                                <li class="list__item"></li>
                                <li class="list__item"></li>
                            </ul>
                        </div>
                        <div class="main__category">
                            <div class="category__title">04. visual tools</div>
                            <ul class="list__wrapper">
                                <li class="list__item">Adobe XD</li>
                                <li class="list__item">Adobe Photoshop</li>
                                <li class="list__item"></li>
                                <li class="list__item"></li>
                                <li class="list__item"></li>
                            </ul>
                        </div>
                        <div class="main__category">
                            <div class="category__title">05. other</div>
                            <ul class="list__wrapper">
                                <li class="list__item">MySql</li>
                                <li class="list__item">NoSQL</li>
                                <li class="list__item"></li>
                                <li class="list__item"></li>
                                <li class="list__item"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">
            <label for="navi-toggle" class="navigation__button">...</label>
            <label for="navi-toggle" class="navigation__active">...</label>
            <div class="navigation__background">&nbsp;</div>
            <nav class="navigation__nav">
            <ul class="navigation__list">
                <li class="navigation__item"><a [routerLink] = "['/about']" class="navigation__link">about</a></li>
                <li class="navigation__item"><a [routerLink] = "['/projects']" class="navigation__link">portfolio</a></li>
                <li class="navigation__item"><a [routerLink] = "['/contact']" class="navigation__link">contact</a></li>
            </ul>
            </nav>
        </div>
    </div>
    